@charset "UTF-8";

div{
    width: 400px;
    height: 300px;
    padding: 10px 20px;
    margin : 10px;
    background-image: url(../images/p1_s.png), url(../images/bluepaper.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}