@charset "UTF-8";

div{
	width : 300px;
	height : 150px;
	background-color: lightgray;
}

p{
	background-color: cyan;
}

img{
	width : 90px;
    height : 60px;
}

.hidden{ /*태그의 visible속성을 hidden으로 지정 */
	visibility: hidden;
}

.visible{/*태그의 visible속성을 visible로 지정 */
	visibility: visible;
}